:root {
    --c-text: rgb(255, 255, 255);
    --c-sec: rgb(94, 140, 226);
    --c-pr: rgb(41, 90, 181);

}

/* info hosein */

.hosein {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    z-index: 999;

    .circle {
        width: 105px;
        height: 105px;

        &::before,
        &::after {
            content: '';
            width: 100px;
            height: 100px;
            position: absolute;
            top: -4px;
            left: -3px;
            transition: 1s;
            rotate: 10deg;
        }

        &::before {
            background-color: var(--c-pr);
            border-radius: 30% 70% 35% 65% / 30% 36% 64% 70%;
            z-index: -998;
        }

        &::after {
            background-color: var(--c-sec);
            border-radius: 64% 36% 61% 39% / 43% 36% 64% 57%;
            z-index: -999;
        }

        >img {
            width: 95px;
            height: 95px;
            border-radius: 50%;
            object-fit: cover;
            object-position: bottom;
        }

    }

    &:hover {
        >a {
            >i {
                visibility: visible;
            }
        }

        .circle {

            &::before,
            &::after {
                rotate: 45deg;
            }
        }
    }

    >a {
        >i {
            font-size: 18px;
            color: var(--c-sec);
            transition: .6s;
            position: absolute;
            visibility: hidden;

            &:hover {
                color: var(--c-pr);
            }
        }

        &:nth-of-type(1) {
            >i {
                top: -10px;
                left: -30px;
            }
        }

        &:nth-of-type(2) {
            >i {
                top: 20px;
                left: -42px;
            }
        }

        &:nth-of-type(3) {
            >i {
                top: 52px;
                left: -42px;
            }
        }

        &:nth-of-type(4) {
            >i {
                top: 80px;
                left: -30px;
            }
        }
    }
}





.info-footer {
    display: none;
}




@media screen and (min-width:768px) {

    /* info hosein */
    .hosein {
        position: fixed;
        bottom: 25px;
        right: 25px;

        .circle {
            width: 180px;
            height: 180px;

            &::before,
            &::after {
                width: 175px;
                height: 175px;
            }

            >img {
                width: 165px;
                height: 165px;
            }

        }

        >a {
            >i {
                font-size: 28px;

            }

            &:nth-of-type(1) {
                >i {
                    top: -5px;
                    left: -30px;
                }
            }

            &:nth-of-type(2) {
                >i {
                    top: 35px;
                    left: -52px;
                }
            }

            &:nth-of-type(3) {
                >i {
                    top: 85px;
                    left: -52px;
                }
            }

            &:nth-of-type(4) {
                >i {
                    top: 125px;
                    left: -30px;
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {

    /* //info footer  */
    .info-footer {
        width: 100%;
        height: 250px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;

        >div {
            width: calc(100% - 30px);
            height: 230px;
            background-image: url(../img/blur\ light\ background\ by\ freeject\ 6.webp);
            background-size: cover;
            background-position: left bottom;
            border-radius: 45px;
            display: flex;
            justify-content: start;
            align-items: center;


            >div {
                height: calc(100% - 60px);
                width: 80%;
                margin-left: 45px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--c-text);
                font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

                * {
                    margin-bottom: 10px;
                }

                >h1 {
                    font-size: 35px;
                    letter-spacing: 2px;
                    font-weight: normal;

                    >span {
                        font-weight: bold;
                    }
                }

                >p {
                    font-size: 20px;
                }

                .hoverMe {
                    font-size: 16px;
                    padding-top: 10px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }


            }


        }
    }
}

@media screen and (min-width:1350px) {
    .info-footer {
        >div {
            >div {
                >h1 {
                    font-size: 42px;
                }

                >p {
                    font-size: 22px;
                }

                .hoverMe {
                    font-size: 20px;
                    padding-top: 10px;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }
            }
        }
    }
}
